p{
  font-family: Arial;
}
.title{
  display: inline-block;
  font-size: 20px;
  color: white;
  margin: 0;
}
.text-regular{
  display: inline-block;
  font-size: 16px;
  color: white;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

#boven, #projecten{
  scroll-margin-top: 60px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
